# 자료구조란

-   **여러 개의 값들을 모아서 관리**하는 데이터 타입.
    -   한 개의 변수는 한 개의 값 밖에는 가지지 못한다. 그러나 하나의 변수로 여러 개의 값 관리해야 할 경우가 있다.
    -   하나의 값이 여러개의 값들로 구성된 경우
        -   한명의 고객 정보의 경우 이름, 나이, 주소, 전화번호 등 여러개의 값이 모여서 하나의 값이 된다.
        -   한 반의 학생들의 이름들은 여러개의 이름들로 구성된다.
-   파이썬은 데이터를 모으는 방식에 따라 다음과 같이 4개의 타입을 제공한다.
    -   **List:** 순서가 있으며 중복된 값들을 모으는 것을 허용하고 구성하는 값들(원소)을 변경할 수 있다.
    -   **Tuple:** 순서가 있으며 중복된 값들을 모으는 것을 허용하는데 구성하는 값들을 변경할 수 없다.
    -   **Dictionary:** key-value 형태로 값들을 저장해 관리한다.
    -   **Set:** 중복을 허용하지 않고 값들의 순서가 없다.
-   **원소, 성분, 요소, element**
    -   자료구조의 값들을 구성하는 개별 값들을 말한다.
    -   len(자료구조) 함수
        -   자료구조 내의 원소의 개수를 반환한다.

# List (리스트)

-   값들을 순서대로 모아서 관리하는 자료구조. 원소(element)들을 순번을 이용해 식별한다.
    -   각각의 원소가 어떤 값인지를 index(순번)을 가지고 식별하기 때문에 **순서가 있고 그 순서가 매우 중요하다.** 즉 같은 값에 대해 순서가 바뀌면 안된다.
-   각각의 원소들은 index를 이용해 식별한다.
    -   index는 문자열과 마찬가지로 양수 index와 음수 index 두개가 각 값에 생긴다.
    -   양수 index는 앞에서부터 음수 index는 뒤에서 부터 값을 식별할 때 사용하는 것이 편리하다.
    -   **index를 가지고 각 원소값의 의미를 식별할 수 있으면 List나 Tuple을 사용한다.**
-   중복된 값들을 저장할 수 있다.
-   각 원소들의 데이터 타입은 달라도 상관없다.
    -   보통은 같은 타입의 데이터를 모은다.
-   리스트를 구성하는 **원소들을 변경할 수 있다.** (추가, 삭제, 변경이 가능)
    -   원소 변경 여부가 List와 Tuple의 차이이다.

## List 생성 구문

```python
[값, 값, 값, ..]
```

In [2]:
l1 = [10, 20, 30, 40, 50] # 대괄호로 묶어준다. 
print(l1)

[10, 20, 30, 40, 50]

In [8]:
type(l1)

list

In [13]:
person = ["안수민", 22, ["구미", "용인", "금천구"], ["단국대학교", "통계학과"], 166.7]

In [15]:
person[2] = "해피"

In [16]:
person

['안수민', 22, '해피', ['단국대학교', '통계학과'], 166.7]

## Indexing과 Slicing을 이용한 원소(element) 조회 및 변경

### Indexing

-   하나의 원소를 조회하거나 변경할 때 사용
-   리스트\[index\]
    -   index의 원소를 조회
-   리스트\[index\] = 값
    -   index의 원소를 변경

### Slicing

-   범위로 조회하거나 그 범위의 값들을 변경한다.
-   기본구문: **리스트\[ 시작 index : 종료 index : 간격\]**
    -   시작 index ~ (종료 index – 1)
    -   간격을 지정하면 간격만큼 index를 증/감한다. (생략 시 1이 기본 간격)
-   **0번 index 부터 조회 할 경우 시작 index는 생략가능**
    -   리스트 \[ : 5\] => 0 ~ 4 까지 조회
-   **마지막 index까지 (끝까지) 조회 할 경우 종료 index는 생략 가능**
    -   리스트\[2 : \] => 2번 index 에서 끝까지
-   **명시적으로 간격을 줄 경우**
    -   리스트\[ : : 3 \] => 0, 3, 6, 9.. index의 값 조회
    -   리스트\[1 : 9 : 2\] => 1, 3, 5, 7 index의 값 조회
-   **시작 index > 종료 index, 간격을 음수로 하면 역으로 반환한다.(Reverse)**
    -   리스트\[5: 1: -1\] => 5, 4, 3, 2 index의 값 조회
    -   리스트\[: : -1\] => 마지막 index ~ 0번 index 까지 의미. Reverse 한다.

#### slicing을 이용한 값 변경

-   slicing 을 이용할 경우 slicing된 원소 개수와 동일한 개수의 값들을 대입한다.
    -   `리스트[1:5] = 10,20,30,40` : index 1, 2, 3, 4의 값을 각각 10, 20, 30, 40 으로 변경

In [17]:
person

['안수민', 22, '해피', ['단국대학교', '통계학과'], 166.7]

In [18]:
person[:3]

['안수민', 22, '해피']

In [19]:
person[2:]

['해피', ['단국대학교', '통계학과'], 166.7]

In [20]:
person[::-1]

[166.7, ['단국대학교', '통계학과'], '해피', 22, '안수민']

In [25]:
# index
l = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
l[5] # 0, 1, 2, 3, 4, 5 => 6번째 원소

5

In [26]:
# 원소 값 변경
print(l)
l[0] = 10_000
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10000, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
l[-1] = 300.0
print(l)

[10000, 1, 2, 3, 4, 5, 6, 7, 8, 300.0]

In [29]:
# slicing
print(l)
l[1:8:2]

[10000, 1, 2, 3, 4, 5, 6, 7, 8, 300.0]

[1, 3, 5, 7]

In [30]:
l[:8]

[10000, 1, 2, 3, 4, 5, 6, 7]

In [31]:
l[3::2]

[3, 5, 7, 300.0]

In [33]:
# slicing 변경
l[1:4] = 500, 600, 700
print(l)
# 순서대로 들어간다
# 변경하려는 인덱스 값 개수와 입력 값이 일치해야 한다.

[10000, 500, 600, 700, 4, 5, 6, 7, 8, 300.0]

## List 연산자

-   **리스트 + 리스트**
    -   두 리스트의 원소들을 합친 리스트를 반환한다.
-   **리스트 \* 정수**
    -   같은 리스트의 원소들을 정수번 합친 리스트를 반환한다.
-   **in, not in 연산자**
    -   값 in 리스트
        -   리스트의 원소로 값이 **있으면** True, 없으면 False 반환
    -   값 not in 리스트
        -   리스트의 원소로 값이 **없으면** True, 있으면 False 반환
-   **len(리스트)**
    -   리스트 내의 원소수를 반환.

In [36]:
a = [1, 2 ,3]
b = [100, 200, 300, 400]

In [37]:
c = a + b
print(c)

[1, 2, 3, 100, 200, 300, 400]

In [39]:
# d = a * b # Type Error

In [42]:
d = a * 4
print(d)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [43]:
len(c)

7

In [45]:
200 not in a

True

## 중첩 리스트 (Nested List)

-   List가 원소로 List를 가지는 것을 말한다.
    -   List를 포함한 모든 자료구조 타입들도 다 값이므로 다른 자료구조의 원소로 들어갈 수 있다.
    -   리스트(자료구조)도 값이다. 그래서 다른 자료구조의 원소로 들어갈 수 있다.

In [46]:
l = [
    [1, 2, 3],
    [10, 20, 30, 40],
    [100, 200, 300]
]

In [47]:
l[1][2]

30

In [50]:
l[1][:2]

[10, 20]

In [52]:
l[-1]

[100, 200, 300]

## List 주요 메소드

| 메소드                       | 설명                                                                                 |
| :--------------------------- | ------------------------------------------------------------------------------------ |
| **append(value)**                | value를 추가한다.                                                                    |
| extend(List)                 | List의 원소들을 추가한다.                                                            |
| sort(\[reverse=False\])      | 원소들을 오름차순 정렬한다. reverse=True로 하면 내림차순정렬 한다.                   |
| insert(index, 삽입할값)      | 지정한 index에 '삽입할값'을 삽입한다.                                                |
| remove(삭제할값)             | '삭제할값' 값과 같은 원소를 삭제한다.                                                |
| index(찾을값\[, 시작index\]) | '찾을값'의 index를 반환한다.                                                         |
| pop(\[index\])               | index의 값을 반환하면서 삭제한다. index 생략하면 가장 마지막 값을 반환하며 삭제한다. |
| count(값)                    | '값'이 리스트의 원소로 몇개 있는지 반환한다.                                         |
| clear()                      | 리스트 안의 모든 원소들을 삭제한다.                                                  |

- 자료구조가 가지고있는 메소드는 크게 두 가지. 원소 값 추가/변경/삭제, 원소 조회

In [64]:
l = [1, 2, 3]
l.append(4)
print(l)

[1, 2, 3, 4]

In [65]:
# 원소 여러 개를 한 번에 추가하고 싶을 때 - extend
l.extend([1,2,3,4]) # 여러 개의 값을 리스트로 묶어 추가한다.
print(l)

[1, 2, 3, 4, 1, 2, 3, 4]

In [66]:
# 중간에 원소 삽입 - insert
l.insert(4, 0)

In [67]:
print(l)

[1, 2, 3, 4, 0, 1, 2, 3, 4]

### 정렬 - sorted() 함수, sort() list의 메소드
- sorted() 함수 - 모든 자료구조를 받아서 정렬 한 결과를 list로 반환. (튜플이나 딕셔너리를 넣어도) 원본을 반환하는 것이 아닌 정렬한 결과를 반환한다. 
- sort() 메소드 - 리스트용. 리스트 자체를 정렬

In [68]:
l2 = [1, 3, 4, 2, 5, 4]
sorted(l2)

[1, 2, 3, 4, 4, 5]

In [70]:
l2 # 원본은 건드리지 않는다.

[1, 3, 4, 2, 5, 4]

In [72]:
sorted(l2, reverse = True) # 내림차순 정렬

[5, 4, 4, 3, 2, 1]

In [73]:
# 원본을 정렬하고 싶다면 메소드를 쓰자.
l2.sort()
print(l2)

[1, 2, 3, 4, 4, 5]

In [74]:
l2.sort(reverse = True)

In [75]:
print(l2)

[5, 4, 4, 3, 2, 1]

In [76]:
### 삭제
# 값으로 삭제
l.remove(3)
print(l)

[1, 2, 4, 0, 1, 2, 3, 4]

In [77]:
# index로 삭제
l.pop(0)
print(l)

[2, 4, 0, 1, 2, 3, 4]

In [78]:
# 인덱스를 지정하지 않으면 마지막 인덱스를 삭제한다
l.pop()
print(l)

[2, 4, 0, 1, 2, 3]

In [79]:
# 리스트 원소를 모두 삭제 - clear()
l.clear()
print(l)

[]

In [80]:
# 빈 리스트는 bool 값으로 변환하면 False
bool(l)

False

# Tuple (튜플)

-   List와 같이 순서대로 원소들을 관리한다. 단 저장된 원소를 변경할 수 없다.
-   Tuple 은 각 위치(Index) 마다 정해진 의미가 있고 그 값이 한번 설정되면 바뀌지 않는 경우에 사용한다.
    -   Tuple은 값의 변경되지 않으므로 안전하다.

## Tuple 생성

-   `(value, value, value, ...)`
-   소괄호를 생략할 수 있다.
-   원소가 하나인 Tuple 표현식
    -   `(value,)` 또는 `value,`
        -   값 뒤에 `,` 를 붙여준다. `,`를 붙이지 않으면 ( )가 연산자 우선순위 괄호가 된다.

In [81]:
t1 = 1, 2, 3, 4, 5
print(t1)

(1, 2, 3, 4, 5)

In [82]:
t2 = (100) # 연산자 우선 순위 괄호로 인식
print(t2) # 괄호가 없음
type(t2) # int

# 원소가 하나 뿐인 튜플을 저장하고 싶다면:
t3 = (100,) # 하나일 때도 쉼표를 넣자.
print(t3) 
type(t3)

100
(100,)

tuple

In [83]:
# 괄호 없이 쉼표만 써도 가능
a = 1000,
type(a)
# 주의: a를 int라고 생각하고 변경하려고 하는데 안 되는 경우가 생긴다

tuple

In [84]:
t1[:3]

(1, 2, 3)

In [85]:
# 튜플도 리스트처럼 원소로 다른 자료구조를 모을 수 있다.
t5 = ("A", 100, 30.2, True)

## Indexing과 Slicing을 이용한 원소(element) 조회

-   리스트와 동일하다.
-   단 튜플은 조회만 가능하고 원소를 변경할 수 없다.

## Tuple 연산자

-   **tuple + tuple**
    -   두 tuple의 원소들을 합친 tuple을 반환한다.
-   **tuple \* 정수**
    -   같은 tuple의 원소들을 정수번 합친 tuple를 반환한다.
-   **in, not in 연산자**
    -   값 in tuple
        -   tuple의 원소로 값이 **있으면** True, 없으면 False 반환
    -   값 not in tuple
        -   tuple의 원소로 값이 **없으면** True, 있으면 False 반환
-   **len(tuple)**
    -   tuple의 원소 개수 반환

In [86]:
a = (1, 2)
b = (5, -3)
a + b

(1, 2, 5, -3)

In [87]:
a * 3

(1, 2, 1, 2, 1, 2)

In [88]:
3 in a

False

In [89]:
len(b)

2

## Tuple의 주요 메소드

| 메소드                        | 설명                                |
| :---------------------------- | ----------------------------------- |
| index(찾을값 \[, 시작index\]) | '찾을값'이 몇번 index인지 반환한다. |
| count(값)                     | 원소로 '값'이 몇개 있는지 반환한다. |

In [97]:
print(t1)
t1.index(4) # 4가 몇 번 인덱스에 있는가?

(1, 2, 3, 4, 5)

3

In [95]:
t1.count(2) # 2가 몇 개 있는가?

1

In [98]:
t6 = (100, 2, 500, 100, 20, 4, 2)
t6.index(100)

0

In [102]:
t6.index(100, 1) # 인덱스 1번 부터 찾는다.

3

In [103]:
# 뒤에서부터 값을 찾고 싶다면
print(t6[::-1]) 
t6[::-1].index(4)

(2, 4, 20, 100, 500, 2, 100)

1

# Dictionary

-   값을 키(key)-값(value) 쌍으로 묶어서 저장하는 자료구조이다.
    -   리스트나 튜플의 index의 역할을 하는 key를 직접 지정한다.
    -   서로 의미가 다른 값들을 하나로 묶을 때 그 값의 의미를 key로 가질 수 있는 dictionary를 사용한다.
        -   cf) 값의 의미가 같을 경우 List나 Tuple을 사용한다.
    -   key-value 쌍으로 묶은 데이터 한개를 **item 또는 entry**라고 한다.
    -   key는 중복을 허용하지 않고 value는 중복을 허용한다.

## Dictionary 생성

-   구문
    1. `{ 키 : 값, 키 : 값, 키 : 값 }`
    2. dict(key=value, key=value) 함수 이용
    -   키(key)는 불변(Immutable)의 값들만 사용 가능하다. (숫자, 문자열, 튜플) 일반적으로 문자열을 사용한다.
    -   dict() 함수를 사용할 경우 key는 변수로 정의한다

In [2]:
d1 = {
    "name": "안수민", 
    "age": 22,
    "전공": "statistics"
}

d2 = dict(이름 = "치이카와", 나이 = 3, 주소 = "동굴") # 변수를 정의해서 넣으라는 말이 아니고.. 문자열로 쓰지 말라는 뜻
print(d1)
print(d2)

{'name': '안수민', 'age': 22, '전공': 'statistics'}
{'이름': '치이카와', '나이': 3, '주소': '동굴'}

## Dictionary 원소 조회 및 변경

-   조회: index에 key값을 식별자로 지정한다.
    -   dictionary\[ key \]
    -   없는 키로 조회 시 KeyError 발생
-   변경 / 추가
    -   dictionary\[ key \] = 값
    -   있는 key값에 값을 대입하면 변경이고 없는 key 일 경우는 새로운 item을 추가하는 것이다.

In [112]:
d1["name"]
d1["전공"]

'statistics'

In [114]:
d2["이름"]

'치이카와'

In [9]:
d2["친구"] = ["하치와레", "우사기", "쿠리만쥬"]

In [116]:
print(d2)

{'이름': '치이카와', '나이': 3, '주소': '동굴', '친구': ['하치와레', '우사기', '쿠리만쥬']}

In [117]:
d2["친구"][1]

'우사기'

In [10]:
d2["좋아하는 것"] = {"라면" : ["신라면", "까르보불닭"], "가방": "핑크색"}

In [119]:
print(d2)

{'이름': '치이카와', '나이': 3, '주소': '동굴', '친구': ['하치와레', '우사기', '쿠리만쥬'], '좋아하는 것': {'라면': ['신라면', '까르보불닭'], '가방': '핑크색'}}

In [121]:
d2["좋아하는 것"]["라면"][1]

'까르보불닭'

## Dictionary 연산자

-   **in, not in 연산자**
    -   값 in dictionary
        -   dictionary의 **Key**로 값이 **있으면** True, 없으면 False 반환
    -   값 not in dictionary
        -   dictionary의 **Key**로 값이 **없으면** True, 있으면 False 반환
-   **len(dictionary)**
    -   dictionary의 **Item의 개수** 반환

In [3]:
"이름" in d2 # 키 값을 물어본다.

True

In [4]:
"치이카와" in d2

False

## Dictionary 주요 메소드

| 메소드               | 설명                                                                               |
| :------------------- | ---------------------------------------------------------------------------------- |
| get(key\[, 기본값\]) | key의 item의 값을 반환한다. 단 key가 없을 경우 None또는 기본값을 반환한다.         |
| pop(key)             | key의 item의 값을 반환하면서 dictionary에서 삭제한다. 없는 key일 경우 KeyError발생 |
| clear()              | dictionary의 모든 item들을 삭제한다.                                               |
| del dict\[key\]      | key의 item을 제거한다.                                                             |
| items()              | item의 key, value를 튜플로 묶어 모아 반환한다.                                     |
| keys()               | key값들만 모아 반환한다.                                                           |
| values()             | value값들만 모아 반환한다.                                                         |

In [11]:
d2

{'이름': '치이카와',
 '나이': 3,
 '주소': '동굴',
 '친구': ['하치와레', '우사기', '쿠리만쥬'],
 '좋아하는 것': {'라면': ['신라면', '까르보불닭'], '가방': '핑크색'}}

In [13]:
d2.get("좋아하는 것")["라면"]

['신라면', '까르보불닭']

In [14]:
d2.pop("나이")

3

In [15]:
d2.items()

dict_items([('이름', '치이카와'), ('주소', '동굴'), ('친구', ['하치와레', '우사기', '쿠리만쥬']), ('좋아하는 것', {'라면': ['신라면', '까르보불닭'], '가방': '핑크색'})])

In [16]:
d2.keys()

dict_keys(['이름', '주소', '친구', '좋아하는 것'])

In [17]:
d2.values()

dict_values(['치이카와', '동굴', ['하치와레', '우사기', '쿠리만쥬'], {'라면': ['신라면', '까르보불닭'], '가방': '핑크색'}])

In [18]:
r = d2.get("빵")
r if r != None else "없는 정보입니다."

'없는 정보입니다.'

In [21]:
r = d2.get("과자") # None
r if r else"없는 정보입니다."

'없는 정보입니다.'

In [22]:
r if r is not None else "없는 정보입니다."
# None은 is not이라는 연산자로 가능

'없는 정보입니다.'

In [23]:
r is None

True

In [25]:
r is not None

False

In [36]:
d2.get("주스", 0)
# key가 없으면 지정한 기본값을 반환

0

In [38]:
d2["과일"] = ["오렌지", "딸기"]
print(d2)

{'이름': '치이카와', '주소': '동굴', '친구': ['하치와레', '우사기', '쿠리만쥬'], '좋아하는 것': {'라면': ['신라면', '까르보불닭'], '가방': '핑크색'}, '과일': ['오렌지', '딸기']}

In [39]:
# 삭제
del d2["과일"]
print(d2)

{'이름': '치이카와', '주소': '동굴', '친구': ['하치와레', '우사기', '쿠리만쥬'], '좋아하는 것': {'라면': ['신라면', '까르보불닭'], '가방': '핑크색'}}

In [41]:
d2.pop("좋아하는 것")

{'라면': ['신라면', '까르보불닭'], '가방': '핑크색'}

In [42]:
print(d2)

{'이름': '치이카와', '주소': '동굴', '친구': ['하치와레', '우사기', '쿠리만쥬']}

In [43]:
# key-value 모아서 반환
d2.items()

dict_items([('이름', '치이카와'), ('주소', '동굴'), ('친구', ['하치와레', '우사기', '쿠리만쥬'])])

# Set

-   Set은 중복되는 값을 허용하지 않고 순서를 신경 쓰지 않는다.
    -   원소를 식별할 수 있는 식별자가 없기 때문에 Set은 indexing과 slicing을 지원하지 않는다

## Set 생성

-   구문
    -   {값, 값, 값 }

> -   빈 Dictionary 만들기
>     -   info = {}
>     -   중괄호만 사용하면 빈 set이 아니라 빈 dictionary를 생성하는 것임.

In [46]:
s1 = {1, 2, 3}
print(type(s1))
s2 = {}
print(type(s2))

<class 'set'>
<class 'dict'>

In [47]:
s3 = {1, 2, 1, 1, 3, 2, 4, 5, 5, 2, 3}

In [49]:
print(s3) # 중복을 허용하지 않는다.

{1, 2, 3, 4, 5}

In [51]:
# s3[0]
# TypeError: 'set' object is not subscriptable
# 인덱스로 조회가 안 된다는 뜻

In [52]:
print(s3)
for _ in s3:
    print(_)

{1, 2, 3, 4, 5}
1
2
3
4
5

## Set 연산자

-   **in, not in 연산자**
    -   값 in Set
        -   Set의 원소로 값이 **있으면** True, 없으면 False 반환
    -   값 not in Set
        -   Set의 원소로 값이 **없으면** True, 있으면 False 반환
-   **len(Set)**
    -   Set의 **원소의 개수** 반환
-   **[집합연산자](#Set의-집합연산-연산자-및-메소드)**

In [56]:
6 in s3

False

In [57]:
6 not in s3

True

In [58]:
len(s3)

5

## Set의 주요 메소드

| 메소드           | 설명                                   |
| ---------------- | -------------------------------------- |
| add(값)          | 집합에 값 추가                         |
| update(자료구조) | 자료구조내의 원소들을 모두 집합에 추가 |
| pop()            | 원소를 반환하고 Set에서 삭제한다.      |
| remove(값)       | 값을 찾아서 Set에서 삭제한다.          |

In [61]:
s3.add(6)
s3

{1, 2, 3, 4, 5, 6}

In [62]:
s3.add(3) # 원래 있던 원소를 넣으면 추가되지 않는다.
s3

{1, 2, 3, 4, 5, 6}

In [66]:
s3.remove(5) # 없는 원소를 지우려 하면 error
s3

{1, 2, 3, 6}

In [68]:
v = s3.pop() # 맨 앞에 있던 원소인 1이 pop
s3 # 1이 없다.

{2, 3, 6}

## Set의 집합연산 연산자 및 메소드

-   합집합
    -   집합A | 집합B
    -   집합A.union(집합B)
-   교집합
    -   집합A & 집합B
    -   집합A.intersection(집합B)
-   차집합
    -   집합A - 집합B
    -   집합A.difference(집합B)

In [69]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

In [73]:
# 합집합
s1 | s2 
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [75]:
# 교집합
s1 & s2
s1.intersection(s2)

{3, 4}

In [77]:
# 차집합
s1 - s2
s1.difference(s2)

{1, 2}

# 자료구조를 이용한 대입

-   리스트, 튜플, 셋의 원소들을 개별 변수에 대입한다. 어느 자료구조에 적용하느냐에 따라 **리스트 대입, 튜플 대입, 셋 대입** 이라고 한다. 이중 리스트대입이나 튜플대입은 많이 사용된다.
-   변수의 개수와 리스트 원소의 개수는 동일해야 한다.

In [84]:
a, b, c, d = 10, 20, 30, 40 # 튜플 대입

In [79]:
print(a, b, c, d)

10 20 30 40

In [83]:
x, y, z = [True, False, True] # 리스트 대입
print(x, y, z)

True False True

In [82]:
l, m, n, o = {100, 200, 300, 400} # 셋 대입
print(l, m, n, o)

200 100 400 300

In [85]:
l1 = [10, 20, 30]

In [86]:
x1, x2, x3 = l1 # 리스트 대입
# 이미 만들어진 리스트를 변수로 할당할 때 쓴다.

# 자료구조 변환 함수

-   **list(자료구조)**
    -   대상 자료구조/Iterable을 List로 변환한다.
-   **tuple(자료구조)**
    -   대상 자료구조/Iterable을 Tuple로 변환
-   **set(자료구조)**
    -   대상 자료구조/Iterable을 Set으로 변환
    -   다른 자료구조의 원소 중 중복을 빼고 조회할 때 set()를 이용해 Set으로 변환한다.
-   Dictionary로 변환하는 함수는 없다.
    -   dict(key=value, ..) 는 딕셔너리 생성하는 함수이다.
-   변경 대상이 Dictionary 일 경우에는 key값들만 모아서 변환한다.

> -   **Iterable**
>     -   반복가능한 객체.
>     -   여러개의 값을 요청을 받을 때마다 하나씩 제공해주는 타입을 iterable 이라고 함.
>         -   Iterable이 제공하는 값을 반복문을 이용해 조회할 경우 **for in문**을 사용한다.
>     -   대표적으로 자료구조, 문자열 등이 있다.

In [87]:
l = [1, 2, 3, 4, 5, 6]
print(type(l))

<class 'list'>

In [88]:
t = tuple(l)
t

(1, 2, 3, 4, 5, 6)

In [89]:
s = set(t)
s

{1, 2, 3, 4, 5, 6}

In [90]:
l2 = list(s)
l2

[1, 2, 3, 4, 5, 6]

In [92]:
l = [1, 2, 3, 4, 2, 3, 5, 1, 4]
s = set(l)
s

{1, 2, 3, 4, 5}

In [93]:
l_unique = list(s)
print(l_unique)

[1, 2, 3, 4, 5]

In [94]:
d = {"이름": "홍길동", "나이" : 17}
list(d) # 딕셔너리를 리스트로 바꾸는 경우 키 값만 쓴다.

['이름', '나이']

In [99]:
# 자료구조의 문자열들을 한 문장으브호
# ## "구분자".joinalbe

# TODO

In [ ]:
# 문제 1 ~ 7
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
# 위 리스트는 학생번호 1번 ~ 10번까지 10명의 시험 점수이다.

In [ ]:
# (1)  7번의 점수를 출력하세요

In [ ]:
# (2)  1번부터 5번까지의 점수를 출력하세요.

In [ ]:
# (3)  4, 5, 6, 7번의 점수를 출력하세요.

In [ ]:
# (4) 짝수번째 점수를 출력하세요.

In [ ]:
# (5) 홀수번째 점수를 출력하세요.

In [ ]:
# (6) 9번의 점수를 20으로 변경하고 전체 출력하세요.

In [ ]:
# (7) 중복된 점수는 제거하고 하나씩만 나오도록 출력하세요.

In [ ]:
# 문제 8 ~ 9
fruits = ["복숭아", "수박", "딸기"]

# (8) fruits 리스트에 마지막 원소로 "사과", "귤"을 추가하세요.

In [ ]:
# (9) fruits 리스트에서 "복숭아"를 제거하세요.

In [ ]:
# 문제 10 ~ 15
# (10)본인의 이름, 나이, email주소, 취미, 결혼유무를 사전(딕셔너리)으로 생성.
# 취미는 2개 이상의 값을 넣는다..

In [ ]:
# (11) 위 딕셔너리에서 이름과 email주소를 조회해서 출력하세요.

In [ ]:
# (12) 위 딕셔너리에서 취미중 두번째 취미를 조회해서 출력하세요.

In [ ]:
# (13) 위 딕셔너리에 몸무게와 키 항목을 추가하세요.

In [ ]:
# (14) 위 딕셔너리에서 email 주소를 다른 값으로 변경하세요.

In [ ]:
# (15) 위 딕셔너리에서 나이를 제거하세요.